#image-input{
    background: transparent;
    border: none;    
    outline: none;
    margin-top: 10px;
}

#image-input:focus{
    outline: none;
    border: none;
}

#image-input::before{
    content: "Change picture";
    /* border: 1px rgba(0, 0, 0, 0.227) solid; */
    border-radius: 4px;
    padding: 5px;
    background-color: #2b6cb0;
}

#image-input::-webkit-file-upload-button {
    visibility: hidden;
  }

